---

---

<div data-test='banner' class="bg-[--clr-primary-violet] text-white py-[6rem] bg-banner-mobile bg-no-repeat bg-right md:bg-banner-desktop md:bg-cover md:bg-center md:py-[5rem]">
  <div class="text-center w-[90%] mx-auto">
    <h2 class="text-3xl md:text-5xl font-bold">Boost your links today</h2>
    <button class="btn font-bold text-xl md:text-2xl max-w-[12rem] md:max-w-[15rem] mt-8">Get Started</button>
  </div>
</div>