---

---

<div data-test='banner' class="bg-[--clr-primary-violet] text-white py-[6rem] bg-banner-mobile bg-no-repeat bg-right">
  <div class="text-center w-[90%] mx-auto">
    <h2 class="text-3xl font-bold">Boost your links today</h2>
    <button class="btn text-xl max-w-[12rem] mt-6">Get Started</button>
  </div>
</div>